!.gitignore
!.htaccess
!web.config

log/*
temp/*
tests/_temp/*
tests/temp/*
tests/tmp/*
vendor/*
vendor/.htaccess
!vendor/others

/coverage*.html
/coverage*.xml

composer.lock
CodStd.bat
testuj.bat
